<head>
  <title>
    {% if page.title %}{{ page.title }}{% else %}Paul Mederos ⤬ designer & entrepreneur{% endif %}
  </title>

  <!-- The Meta Zone -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">



  <!-- The CSS Imperium -->
  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Scripts galore (and fonts, too!) -->
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      checkDarkMode();
    });

    function checkDarkMode() {
      var cookieValue = getCookie('pm17_dark_mode');
      if (cookieValue == 'true') {
        document.body.classList.toggle('dark');
      }
    }

    function toggleDarkMode() {
      document.body.classList.toggle('dark');

      if (document.body.classList.contains('dark')) {
        setCookie('pm17_dark_mode', true, 7);
      } else {
        setCookie('pm17_dark_mode', false, 7);
      }
    }

    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }

    function toggleMenu() {
      document.body.classList.toggle('menu-opened');
    }
  </script>
</head>
