<nav class="TopNav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 start-xs">
        <div class="Logo"></div>
      </div>
      <div class="col-xs-9 end-xs">
        <a class="font-sm font-300 mr-3" href="/">Work</a>
        <a class="font-sm font-300 mr-3" href="https://www.twitter.com/pvm" target="_blank">Twitter</a>
        <a class="font-sm font-300" href="https://www.linkedin.com/in/pmederos" target="_blank">LinkedIn</a>
      </div>
    </div>
  </div>
</nav>
