.SideNavigation {
  display: none;

  a {
    color: $color_obsidian;
    display: block;
    margin-bottom: 2em;
    text-decoration: none;
    font-weight: 450;

    &:hover {
      text-decoration: underline;
      color: #000;
    }
  }

  @include media-md-up {
    display: block;
  }
}
