.ThemeToggle {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $color_dark_oak;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 2em;

  &:hover {
    transform: scale(1.04);
    @include transition;
  }

  &:active {
    background-color: $color_dark_oak;
  }

  &.--dark {
    background-color: $color_sunlight;
  }
}
