.TopNav {
  padding: 4.8rem 0;

  a {
    color: #151515;
    text-decoration: none;
    @include transition;
  }

  a:hover {
    color: #8E7E5E;
    text-decoration: underline;
    @include transition;
  }
}
