body.dark {
  background-color: #151515;
  color: $color_cream;

  @include transition($type: color, $duration: .36s);
  @include transition($type: background-color, $duration: .36s);

  h1, h2, h3, h4, p, li {
    color: $color_cream;
    @include transition($type: color, $duration: .36s);
  }

  a { color: darken($color_cream, 10%); }
  a:hover { color: #fff; }

  .ModeToggle {
    background-color: $color_sunlight;
    @include transition($type: color, $duration: .36s);
  }

  .color-sand {
    color: #D9D4C8;
    @include transition($type: color, $duration: .36s);
  }
}
