@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'Sohne';
  font-style:  normal;
  font-weight: 300;
  src: font-url("/webfonts/soehne-buch.woff2") format("woff2");
}

@font-face {
  font-family: 'Sohne';
  font-style:  normal;
  font-weight: 500;
  src: font-url("/webfonts/soehne-kraftig.woff2") format("woff2");
}

@font-face {
  font-family: 'Sohne';
  font-style:  normal;
  font-weight: 700;
  src: font-url("/webfonts/soehne-halbfett.woff2") format("woff2");
}

@font-face {
  font-family: 'Sohne Mono';
  font-style:  normal;
  font-weight: 300;
  src: font-url("/webfonts/soehne-mono-buch.woff2") format("woff2");
}

@font-face {
  font-family: 'Sohne Mono';
  font-style:  normal;
  font-weight: 500;
  src: font-url("/webfonts/soehne-mono-kraftig.woff2") format("woff2");
}
